<h5 class="titulo">Resultado</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Mês</th>
      <th scope="col">Total acumulado (R$)</th>
      <th scope="col">Total rendido no mês (R$)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">04/22</th>
      <td>R$100,00</td>
      <td>R$0,00</td>
    </tr>
    <tr>
      <th scope="row">05/22</th>
      <td>R$101,00</td>
      <td>R$1,00</td>
    </tr>
    <tr>
      <th scope="row">06/22</th>
      <td>R$102,00</td>
      <td>R$1,00</td>
    </tr>
  </tbody>
</table>
